In [1]:
import pandas as pd

In [2]:
%time df=pd.read_json('/home/pa1/Documents/Hackathon/Hotstar/train_data.json')

CPU times: user 26.3 s, sys: 379 ms, total: 26.7 s
Wall time: 28.6 s

In [3]:
% time df_100000=df.T.iloc[:100000,:]

CPU times: user 62.1 ms, sys: 0 ns, total: 62.1 ms
Wall time: 61.7 ms

In [4]:
% time df_1000=df.T.iloc[:1000,:]

CPU times: user 65 ms, sys: 23 µs, total: 65 ms
Wall time: 63.7 ms

In [5]:
% time df_20000=df.T.iloc[:20000,:]

CPU times: user 61.5 ms, sys: 34 µs, total: 61.5 ms
Wall time: 60.4 ms

In [6]:
%%time
# Function to clean data(need to be given transposed dataframe with train-id as rows & titles,genres,dow... as columns)
def clean_data(dataframe,name_of_column='cities'):
    dfDict_T=dataframe.to_dict()
    
    DummyDict={}
    for train_id in dfDict_T[name_of_column]:
        for element in (dfDict_T[name_of_column][train_id].split(',')):
            Name=element.split(':')[0]
            Time=element.split(':')[-1]
            DummyDict.setdefault(train_id,0)
            if type(DummyDict[train_id])!= dict: DummyDict[train_id]=dict()
            DummyDict[train_id].setdefault(Name,0)
            DummyDict[train_id][Name]=Time
    return pd.DataFrame(DummyDict)

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 5.48 µs

In [7]:
%time df_genres=clean_data(df_20000,'genres').T

CPU times: user 982 ms, sys: 3.94 ms, total: 986 ms
Wall time: 984 ms

In [8]:
%time df_cities=clean_data(df_20000,'cities').T

CPU times: user 1.72 s, sys: 79.9 ms, total: 1.8 s
Wall time: 1.8 s

In [9]:
%time df_dow=clean_data(df_20000,'dow').T

CPU times: user 925 ms, sys: 0 ns, total: 925 ms
Wall time: 927 ms

In [10]:
#Renaming Day of week columns to avoid confusion with time of day columns (both are integers)
df_dow.rename(columns={'1':'1st dow','2':'2nd dow','3':'3rd dow','4':'4th dow','5':'5th dow','6':'6th dow','7':'7th dow',},inplace=True)

In [11]:
%time df_tod=clean_data(df_20000,'tod').T

CPU times: user 1.04 s, sys: 4.04 ms, total: 1.05 s
Wall time: 1.05 s

In [20]:
%time df_titles=clean_data(df_20000,'titles').T

CPU times: user 15.1 s, sys: 688 ms, total: 15.7 s
Wall time: 15.6 s

In [21]:
df_titles.loc['train-121673','Ishq']

'59'

In [22]:
df.head(5)

,train-121672,train-121673,train-121670,train-121671,train-121676,train-121677,train-121674,train-121675,train-121678,train-121679,...,train-126321,train-126320,train-126323,train-126322,train-126325,train-126324,train-126327,train-126326,train-126329,train-126328
cities,"delhi:3492,mumbai:64","ahmedabad:56666,mumbai:26989",navi mumbai:29400,"chennai:77,navi mumbai:4005,mumbai:0","bangalore:5135,krishnarajapura:529,hosur:2864",bangalore:5,"gurgaon:12635,delhi:13142,nagari:3885","bangalore:373,chennai:6205,mumbai:77","gurgaon:1124,delhi:9492,mumbai:19504","rawalpindi:976,lahore:104",...,bangalore:1120,gurgaon:31707,mumbai:31082,"delhi:1620,navi mumbai:8848",mumbai:14760,"khanna:2295,mumbai:1548","lisboa:3756,porto:3198",kolkata:25436,"chennai:7999,delhi:8945,ahmedabad:33811",navi mumbai:49286
dow,"5:482,4:3008,7:64","1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","1:77,2:3883,5:122","1:6150,3:2378",2:5,"1:15909,3:2465,2:5580,4:293,7:1283,6:4131","3:5481,4:724,7:373,6:77","1:6965,3:21,2:6183,5:1434,4:6995,7:4599,6:3923","1:1043,7:37",...,"5:50,7:1069","1:6095,3:5684,2:2943,5:6635,4:2750,7:2274,6:5316","1:6255,3:10275,2:6019,4:197,7:6901,6:1435","1:229,5:2196,7:8022,6:20","1:1333,3:147,2:249,5:304,4:7825,7:4900","1:1108,5:40,4:220,7:2472","1:948,5:2317,7:3688","1:2562,3:3153,2:5009,5:3875,4:4274,7:3284,6:3278","1:11880,3:7673,2:17472,5:2759,4:5122,7:4836,6:...","1:11425,3:7989,2:6421,5:4460,4:4157,7:7896,6:6928"
genres,"Drama:6,Cricket:3469,Wildlife:79","Drama:48949,Family:9927,Crime:1901,Romance:165...","Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...","Romance:77,Drama:122,Cricket:3883",TalkShow:8529,TalkShow:5,"Cricket:0,Wildlife:21,Crime:29591,Drama:10,Liv...","Romance:724,Cricket:5854,Reality:77","Drama:10090,Cricket:1124,Comedy:18907",Family:1080,...,"Drama:50,Action:582,Comedy:487","Cricket:13504,Family:17267,Reality:151,Romance...",Drama:31082,"Cricket:450,Kids:6,TalkShow:20,Wildlife:40,Rom...","Cricket:14345,Badminton:97,Reality:69,Crime:249","Cricket:3787,Reality:57","Cricket:5060,Awards:21,Crime:1872","Drama:25428,Family:7","Drama:50749,Romance:9","Cricket:17417,Reality:14947,Drama:14565,LiveTV..."
segment,neg,neg,neg,neg,pos,neg,neg,neg,neg,neg,...,neg,neg,neg,neg,neg,neg,neg,neg,neg,neg
titles,"Wild Sex:79,Vintage Dhoni Comes Good with 134:...","Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","India vs Australia 1st Test Hindi:83,India vs ...","Rangoon:77,India A vs England XI:3883,Kaabil:122",Koffee With Karan:8529,Neeya Naana:5,"Yeh Rishta Kya Kehlata Hai:10,Life Ok:4,Savdha...","India vs England 2nd T20I English:373,India vs...","Samson's Sparkling 102 vs RPS:10,Bheja Fry 2:4...",Saath Nibhaana Saathiya:1080,...,"Dishoom:574,Kaabil:50,Housefull 3:487,Force:8","Aus 1st Innings: Fall of Wickets:359,Day 4: In...",P_O_W_ Bandi Yuddh Ke:31082,"Local Boy Jadhav Shines with 120:229,Movies OK...","Stokes's 38 Goes in Vain:22,Yuvraj: The Scorin...","Local Boy Jadhav Shines with 120:134,India Fin...","Savdhaan India:1872,Watch: England Fall of Wic...","Potol Kumar Gaanwala:1,Kusum Dola:25426,Mem Bo...","Nadaan Parinde:0,Phillauri:9,Yeh Rishta Kya Ke...","India vs Australia 2nd Test English:3222,India..."

In [23]:
df_titles.shape

(20000, 6857)

In [24]:
df_titles.columns

Index(['', ' AB TO Z every shot in the book!', ' Australia vs India 1st Test',
       ' Bhuvi's 3-44 Seals RR's Fate ', ' Big Score was Around the Corner',
       ' Big score was around the corner', ' Billings Roy Punish Pandya',
       ' Day 2', ' England vs Australia 4th ODI',
       ' Fan Interrupts Play to Greet Dhoni',
       ...
       'Zindagi Abhi Baki Hai Mere Ghost', 'Zindagi Na Milegi Dobara',
       'Zootopia', 'Zulfiqar ', 'Zulmi', 'choker tara tui', 'match_highlights',
       'match_replay', 'siya ke ram', 'www_Bhaya_com'],
      dtype='object', length=6857)

In [26]:
%time df_result = pd.concat([df_cities, df_dow, df_genres, df_titles, df_tod], axis=1,)

CPU times: user 5.56 s, sys: 473 ms, total: 6.03 s
Wall time: 6.02 s

In [27]:
df_result.shape

(20000, 7340)

In [28]:
df_result.columns

Index(['Unknown', 'abidjan', 'absecon', 'ad dawhah', 'agra', 'ahmadnagar',
       'ahmedabad', 'ajitgarh', 'al kuwayt', 'al qahirah',
       ...
       '21', '22', '23', '3', '4', '5', '6', '7', '8', '9'],
      dtype='object', length=7340)

In [29]:
df_result.head()

,Unknown,abidjan,absecon,ad dawhah,agra,ahmadnagar,ahmedabad,ajitgarh,al kuwayt,al qahirah,...,21,22,23,3,4,5,6,7,8,9
train-121672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
train-121673,NaN,NaN,NaN,NaN,NaN,NaN,56666,NaN,NaN,NaN,...,9360,304,2988,NaN,NaN,NaN,NaN,NaN,NaN,2005
train-121670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3430,2219,2111,NaN,NaN,NaN,1874,504,201,4388
train-121671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
train-121676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1257,4930,538,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
%time df_result.to_csv('Hotstar_CleanDATA_20000Rows_Merged.csv')

CPU times: user 18.4 s, sys: 150 ms, total: 18.5 s
Wall time: 19.5 s