In [5]:
import pandas as pd

In [6]:
df=pd.read_json('/home/pa1/Documents/Hackathon/Hotstar/train_data.json')

In [7]:
df=df.T

In [10]:
df.reset_index(inplace=True)

In [115]:
df.shape

(200000, 24)

In [12]:
df.loc[0,'cities']

'delhi:3492,mumbai:64'

In [17]:
df.loc[0,'index']

'train-121672'

In [20]:
list=[]
for i in range(100):
#     print(df.loc[i,'index'],df.loc[i,'cities'].split(','))
    for element in (df.loc[i,'cities'].split(',')):
        list.append(element)

In [21]:
list

['delhi:3492',
 'mumbai:64',
 'ahmedabad:56666',
 'mumbai:26989',
 'navi mumbai:29400',
 'chennai:77',
 'navi mumbai:4005',
 'mumbai:0',
 'bangalore:5135',
 'krishnarajapura:529',
 'hosur:2864',
 'bangalore:5',
 'gurgaon:12635',
 'delhi:13142',
 'nagari:3885',
 'bangalore:373',
 'chennai:6205',
 'mumbai:77',
 'gurgaon:1124',
 'delhi:9492',
 'mumbai:19504',
 'rawalpindi:976',
 'lahore:104',
 'kolkata:16889',
 'delhi:180',
 'chennai:245',
 'kolkata:143',
 'gurgaon:84201',
 'chennai:25671',
 'mumbai:72465',
 'kolkata:2490',
 'mumbai:329',
 'mumbai:990',
 'delhi:4655',
 'navi mumbai:22',
 'pune:33',
 'chennai:38097',
 'navi mumbai:28054',
 'mumbai:2217',
 'navi mumbai:3810',
 'pune:17288',
 'delhi:5139',
 'gurgaon:12',
 'mumbai:2111',
 'mumbai:37',
 'new delhi:58',
 'delhi:4162',
 'ahmedabad:23408',
 'mumbai:18809',
 'hyderabad:1026',
 'delhi:1286',
 'navi mumbai:202723',
 'mumbai:1508',
 'navi mumbai:10667',
 'chennai:7895',
 'delhi:258',
 'nagar:375',
 'ludhiana:4543',
 'kolkata:984',
 'bangalore:55260',
 'new delhi:6418',
 'gurgaon:74',
 'delhi:3715',
 'bangalore:776',
 'mumbai:5608',
 'bangalore:21889',
 'chennai:2505',
 'mumbai:28855',
 'navi mumbai:289350',
 'navi mumbai:2211',
 'delhi:3193',
 'delhi:12851',
 'chennai:6082',
 'navi mumbai:1689',
 'hyderabad:10731',
 'new delhi:5215',
 'bangalore:50581',
 'chennai:6480',
 'Unknown:2930',
 'gurgaon:1657',
 'ahmedabad:11294',
 'nagar:2038',
 'vadodara:6434',
 'new delhi:15',
 'chennai:9556',
 'mumbai:9718',
 'bengaluru:957',
 'new delhi:2380',
 'bhopal:40450',
 'mumbai:468',
 'Unknown:44',
 'delhi:1340',
 'mumbai:972',
 'navi mumbai:4026',
 'secunderabad:1803',
 'chennai:1',
 'kolkata:1542',
 'mumbai:399',
 'navi mumbai:9895',
 'gurgaon:9803',
 'navi mumbai:174',
 'bangalore:8753',
 'mumbai:8',
 'bangalore:16156',
 'delhi:2982',
 'bengaluru:6670',
 'Unknown:1164',
 'bangalore:1352',
 'gurgaon:3',
 'delhi:2875',
 'bangalore:6075',
 'delhi:504',
 'hyderabad:463',
 'navi mumbai:3909',
 'mumbai:87496',
 'Unknown:4949',
 'delhi:8362',
 'bengaluru:9032',
 'kolkata:2724',
 'mumbai:8',
 'mumbai:5012',
 'gurgaon:9595',
 'mumbai:1091',
 'navi mumbai:1493',
 'mumbai:6236',
 'delhi:115',
 'dhaka:122460',
 'navi mumbai:27',
 'kolkata:6575',
 'delhi:995',
 'navi mumbai:16100',
 'mumbai:16670',
 'pune:110',
 'chennai:4730',
 'navi mumbai:1088',
 'mumbai:1125',
 'Unknown:556',
 'navi mumbai:56',
 'pune:2858',
 'delhi:3342',
 'bangalore:34',
 'delhi:448',
 'mumbai:50',
 'navi mumbai:476',
 'karachi:28',
 'new delhi:13859',
 'chennai:8160',
 'mumbai:15235',
 'madikeri:4170',
 'kolkata:2736',
 'bangalore:9408',
 'delhi:133',
 'navi mumbai:113628',
 'gurgaon:18',
 'navi mumbai:9835',
 'bangalore:6450',
 'bengaluru:8440',
 'kochi:3861',
 'navi mumbai:28830',
 'Unknown:113070',
 'navi mumbai:132',
 'navi mumbai:22629',
 'gurgaon:1522',
 'pune:70',
 'Unknown:863',
 'bengaluru:2063',
 'new delhi:14578',
 'chennai:4830',
 'Unknown:10776',
 'delhi:12500',
 'kochi:549',
 'bangalore:179173',
 'pune:100',
 'delhi:6042',
 'mumbai:1022',
 'gurgaon:1855',
 'delhi:565',
 'nagari:98',
 'navi mumbai:90',
 'karachi:3066',
 'peshawar:8',
 'lahore:564',
 'rawalpindi:15111',
 'Unknown:1960',
 'Unknown:28055',
 'ann arbor:1222',
 'naihati:17390',
 'Unknown:28980',
 'gurgaon:236',
 'rawalpindi:312',
 'kolkata:4087',
 'prabhadevi:4248',
 'delhi:7061',
 'suri:11271',
 'mumbai:4',
 'navi mumbai:31385',
 'mumbai:2852',
 'bangalore:363',
 'mumbai:424',
 'prabhadevi:665',
 'delhi:2443',
 'mumbai:20990',
 'mumbai:3114',
 'gandhinagar:604',
 'bangalore:270',
 'kolkata:1494',
 'bangalore:1617',
 'navi mumbai:425',
 'bangalore:15295',
 'delhi:3716',
 'nagar:398',
 'navi mumbai:16692']

In [31]:
d1 = df['cities'].apply(lambda st : st.split(','))
x = zip(d1.index,d1.values)
st = []
for i,k in x:
#     print(i,k)
    for j in k:
#         print(j)
        e=(str(df.loc[i,'index'])+' '+j.replace(':',' ')).split(' ')
#         print(e)
        if len(e) == 4:
            e[1] = e[1]+ ' ' +e[2]
            e[2] = e[3]
#             print(e)
        st.append(e)

In [33]:
df_cities_clean=pd.DataFrame(st)

In [45]:
df_cities_clean=df_cities_clean.iloc[:,:3]

In [52]:
df_cities_clean.head()

              0            1      2
0  train-121672        delhi   3492
1  train-121672       mumbai     64
2  train-121673    ahmedabad  56666
3  train-121673       mumbai  26989
4  train-121670  navi mumbai  29400

In [62]:
df_split_cities=df_cities_clean

In [50]:
final_cities=['bhopal','rawalpindi','nagari','gandhinagar','secunderabad','karachi','prabhadevi','dhaka','ahmedabad','chandigarh','hyderabad','bengaluru','pune','new delhi','kolkata','Unknown','chennai','gurgaon','bangalore','mumbai','delhi','navi mumbai']

In [63]:
for i in range(100):
    if df_cities_clean.loc[i,1]  in final_cities:
        df_split_cities.loc[i,str(df_cities_clean.loc[i,1])]=df_cities_clean.loc[i,2]
#         print(i,df_cities_clean.loc[i,0],df_cities_clean.loc[i,1],df_cities_clean.loc[i,2],'yes')
    else:
        df_split_cities.loc[i,'Unknown']=df_cities_clean.loc[i,2]
#         print(i,df_cities_clean.loc[i,0],df_cities_clean.loc[i,1],df_cities_clean.loc[i,2],'no')

/home/pa1/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/pa1/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/home/pa1/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/pa1/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [64]:
df_split_cities

,0,1,2,delhi,mumbai,ahmedabad,navi mumbai,chennai,bangalore,Unknown,gurgaon,nagari,rawalpindi,kolkata,pune,new delhi,hyderabad,bengaluru,bhopal,secunderabad
0,train-121672,delhi,3492,3492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,train-121672,mumbai,64,NaN,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,train-121673,ahmedabad,56666,NaN,NaN,56666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,train-121673,mumbai,26989,NaN,26989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,train-121670,navi mumbai,29400,NaN,NaN,NaN,29400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,train-121671,chennai,77,NaN,NaN,NaN,NaN,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,train-121671,navi mumbai,4005,NaN,NaN,NaN,4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,train-121671,mumbai,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,train-121676,bangalore,5135,NaN,NaN,NaN,NaN,NaN,5135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,train-121676,krishnarajapura,529,NaN,NaN,NaN,NaN,NaN,NaN,529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,train-121676,hosur,2864,NaN,NaN,NaN,NaN,NaN,NaN,2864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,train-121677,bangalore,5,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,train-121674,gurgaon,12635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,train-121674,delhi,13142,13142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,train-121674,nagari,3885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,train-121675,bangalore,373,NaN,NaN,NaN,NaN,NaN,373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,train-121675,chennai,6205,NaN,NaN,NaN,NaN,6205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,train-121675,mumbai,77,NaN,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,train-121678,gurgaon,1124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,train-121678,delhi,9492,9492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,train-121678,mumbai,19504,NaN,19504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,train-121679,rawalpindi,976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,train-121679,lahore,104,NaN,NaN,NaN,NaN,NaN,NaN,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,train-199734,kolkata,16889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16889,NaN,NaN,NaN,NaN,NaN,NaN
24,train-199734,delhi,180,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,train-199734,chennai,245,NaN,NaN,NaN,NaN,245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,train-193747,kolkata,143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143,NaN,NaN,NaN,NaN,NaN,NaN
27,train-193747,gurgaon,84201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,train-193747,chennai,25671,NaN,NaN,NaN,NaN,25671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,train-193747,mumbai,72465,NaN,72465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382475,train-29509,navi mumbai,3341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382476,train-178002,Unknown,260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382477,train-178002,gurgaon,49601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382478,train-178002,delhi,9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382479,train-178002,mumbai,11989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382480,train-29502,prabhadevi,2652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382481,train-29503,delhi,10278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382482,train-29500,kolkata,366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382483,train-29500,mumbai,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382484,train-29501,gurgaon,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382485,train-29501,navi mumbai,10925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382486,train-29506,navi mumbai,12571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382487,train-29507,navi mumbai,20552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382488,train-29504,navi mumbai,14141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382489,train-29505,navi mumbai,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382490,train-126321,bangalore,1120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382491,train-126320,gurgaon,31707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382492,train-126323,mumbai,31082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382493,train-126322,delhi,1620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382494,train-126322,navi mumbai,8848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382495,train-126325,mumbai,14760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382496,train-126324,khanna,2295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382497,train-126324,mumbai,1548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382498,train-126327,lisboa,3756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382499,train-126327,porto,3198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382500,train-126326,kolkata,25436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382501,train-126329,chennai,7999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382502,train-126329,delhi,8945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382503,train-126329,ahmedabad,33811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382504,train-126328,navi mumbai,49286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
df_cities_clean.loc[556,2]=0
df_split_cities.loc[556,'Unknown']=0

In [111]:
%%time
for i in range(100):
    if df_cities_clean.loc[i,1]  in final_cities:
        df_split_cities.loc[i,str(df_cities_clean.loc[i,1])]=df_cities_clean.loc[i,2]
#         print(i,df_cities_clean.loc[i,0],df_cities_clean.loc[i,1],df_cities_clean.loc[i,2],'yes')
    else:
        df_split_cities.loc[i,'Unknown']=df_cities_clean.loc[i,2]
#         print(i,df_cities_clean.loc[i,0],df_cities_clean.loc[i,1],df_cities_clean.loc[i,2],'no')

CPU times: user 12.8 s, sys: 3.19 s, total: 16 s
Wall time: 16 s

In [85]:
%%time
for i in range(1000):
    if df_cities_clean.loc[i,1]  in final_cities:
        df_split_cities.loc[i,str(df_cities_clean.loc[i,1])]=df_cities_clean.loc[i,2]
#         print(i,df_cities_clean.loc[i,0],df_cities_clean.loc[i,1],df_cities_clean.loc[i,2],'yes')
    else:
        df_split_cities.loc[i,'Unknown']=df_cities_clean.loc[i,2]
#         print(i,df_cities_clean.loc[i,0],df_cities_clean.loc[i,1],df_cities_clean.loc[i,2],'no')

CPU times: user 1min 58s, sys: 31.3 s, total: 2min 30s
Wall time: 2min 30s

In [87]:
%%time
for i in range(100):
    if df_cities_clean.loc[i,1]  in final_cities:
        df_split_cities.loc[i,str(df_cities_clean.loc[i,1])]=df_cities_clean.loc[i,2]
#         print(i,df_cities_clean.loc[i,0],df_cities_clean.loc[i,1],df_cities_clean.loc[i,2],'yes')
    else:
        df_split_cities.loc[i,'Unknown']=int(df_split_cities.loc[i,'Unknown'])+ int(df_cities_clean.loc[i,2])
#         print(i,df_cities_clean.loc[i,0],df_cities_clean.loc[i,1],df_cities_clean.loc[i,2],'no')

CPU times: user 12 s, sys: 3.02 s, total: 15 s
Wall time: 15 s

In [89]:
df_split_cities.loc[i,'Unknown']=0

In [109]:
%%time
for i in range(1000):
    if df_cities_clean.loc[i,1]  in final_cities:
        df_split_cities.loc[i,str(df_cities_clean.loc[i,1])]=df_cities_clean.loc[i,2]
#         print(i,df_cities_clean.loc[i,0],df_cities_clean.loc[i,1],df_cities_clean.loc[i,2],'yes')
    else:
        df_split_cities.loc[i,'Unknown']=int(df_split_cities.loc[i,'Unknown'])+ int(df_cities_clean.loc[i,2])
#         print(i,df_cities_clean.loc[i,0],df_cities_clean.loc[i,1],df_cities_clean.loc[i,2],'no')

CPU times: user 1min 59s, sys: 30.8 s, total: 2min 29s
Wall time: 2min 29s

In [130]:
df_split_cities.iloc[382504,:]

0               train-126328
1                navi mumbai
2                      49286
delhi                    NaN
mumbai                   NaN
ahmedabad                NaN
navi mumbai              NaN
chennai                  NaN
bangalore                NaN
Unknown                  NaN
gurgaon                  NaN
nagari                   NaN
rawalpindi               NaN
kolkata                  NaN
pune                     NaN
new delhi                NaN
hyderabad                NaN
bengaluru                NaN
bhopal                   NaN
secunderabad             NaN
dhaka                    NaN
karachi                  NaN
prabhadevi               NaN
gandhinagar              NaN
chandigarh               NaN
Name: 382504, dtype: object

In [ ]:

# %%time
# for i in range(382504):
#     if df_cities_clean.loc[i,1]  in final_cities:
#         df_split_cities.loc[i,str(df_cities_clean.loc[i,1])]=df_cities_clean.loc[i,2]
#     else:
#         df_split_cities.loc[i,'Unknown']=int(df_split_cities.loc[i,'Unknown'])+ int(df_cities_clean.loc[i,2])

In [131]:
df_split_cities.to_csv('Hotstar_Cities_split&clean')